


/******表格****/
.head-active {
	padding: 10px;
	line-height: 15px;
}

.head-active img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.seriz_arrow{ 
	display: inline-block; 
	vertical-align:middle; 
	margin-top: -2px;
	cursor: pointer;
}

.seriz_arrow .arrow_up { 
	width: 0;
	height: 0;
	border-left: 4px solid transparent; 
	border-right: 4px solid transparent;  
	border-bottom: 4px solid #999999;
	font-size: 0; 
	line-height: 0; 
	margin-bottom: 3px; 
}

.seriz_arrow .up_chosed,
.seriz_arrow .arrow_up:hover,
.seriz_arrow .arrow_up.active
{
  	border-bottom: 4px solid #666666; 
  
}

.seriz_arrow .arrow_down{
	width: 0;height: 0;
	border-left: 4px solid transparent; 
	border-right: 4px solid transparent;  
	border-top: 4px solid #999999;
	font-size: 0; 
	line-height: 0; 
}

.seriz_arrow .down_chosed,
.seriz_arrow .arrow_down:hover,
.seriz_arrow .arrow_down.active{
	border-top: 4px solid #666666;
}
	